<section class="form-box">
  <h2>Login</h2>
  <div class="form-content">
    <form>
      <label for="username">Username</label>
      <input type="text" id="username">
      <label for="password">Password</label>
      <input type="password" id="password">
      <button type="submit" class="loginBtn" id="loginBtn">Login</button>
    </form>
  <a  class="signup" href="/signup">Sign up instead</a>
  </div>
</section>

<script src="./js/login.js"></script>