<section class="form-box">
  <h2>Sign Up</h2>
  <div class="form-content">
    <form>
      <label for="username">Username</label>
      <input type="text" id="username">
      <label for="password">Password</label>
      <input type="password" id="password">
      <button type="submit" id="signUpBtn">Sign Up!</button>
    </form>
  <a class="signup" href="/login">Login instead</a>
  </div>
</section>

<script src="./js/signUp.js"></script>